<input type="text" placeholder="By First Name" [(ngModel)]="firstName" />
<input type="text" placeholder="By Last Name" [(ngModel)]="lastName" />
<button (click)="searchClick()" type="submit">Search</button>
<table mat-table [dataSource]="citizens | async" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let person"> {{person.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let person"> {{person.lastName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>